.list {
  color: black;
  cursor: pointer;
}
.list:hover {
  background: lightgray;
}
.listsel {
  background: greenyellow;
}

.header {
  background: green;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: whitesmoke;
}
